.vh100 {
    max-height: 100vh;
    margin-bottom: 0!important;
}
.mh-vh-100 {
    max-height: calc(100vh - 150px);
}
.scrollable {
    overflow-y: auto;
}

.input-label {
    display: block;
}

.form-group {
    margin-right: 5px;
}

.no-results-row {
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.brewery-card {
    border: 1px solid #cccc;
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;

    .info-row {
        margin-bottom: 15px;
        
        .left-icon {
            margin-left: -15px;
            margin-right: 5px;
        }

        .beer-info-icon {
            margin-right: 5px;
        }

        .pt-15 {
            padding-top: 15px;
        }
    }
}

#filters-row {
    margin-bottom: 15px;
}

.main-panel {
    margin-top: 25px;
}